.header {
  background-color: rgb(250, 250, 250);
  padding: 10px;
  font-size: bold;
  
}

nav {
  text-align: left; /* Optional: Center the menu within the header */
  font-size: bold;
  
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex; /* Display list items horizontally */
  flex-direction: row;
  font-size: bold;
  
}

.nav-list li {
  margin-right: 15px;
  font-size: bold;
margin-top: 100px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: bold;
  
  
}